.footer {
	background: #2A272B;
	padding: 58px 0 50px;
	color: #fff;
}

.footer__contacts-card {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	
	padding: 28px 50px;
	background: #191919;
	border-radius: 10px;
}

.footer__contacts-col {
	display: flex;
	flex-direction: column;
	gap: 10px;
}


.footer__contacts-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.4;
	color: #fff;
}

.footer__contact-row {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	color: #fff;
}

.footer__contact-row svg,
.footer__contact-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.footer__contact-row--email span {
	text-decoration: underline;
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 15px;
	margin: 0;
	
}

.footer__social-link {
	display: block;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
}

.footer__social-link img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.footer__links {
	display: flex;
	justify-content: space-between;
	margin-top: 58px;
	width: 100%;
}

.footer__nav-col {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-shrink: 0;
}

.footer__links-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.4;
	color: #fff;
}

.footer__nav-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__nav-link {
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	color: rgba(255, 255, 255, 0.5);
	transition: color 0.2s;
}

.footer__nav-link:hover {
	color: #fff;
}

.footer__programs {
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}

.footer__programs-grid {
	display: flex;
	gap: 40px;
}

.footer__programs-col {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__programs-col a {
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	color: rgba(255, 255, 255, 0.5);
	transition: color 0.2s;
}

.footer__programs-col a:hover {
	color: #fff;
}

.footer__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 63px;
}

.footer__logo {
	flex-shrink: 0;
	width: 720px;

	img {
		display: block;
		width: 100%;
	
	}
	
}



.footer__legal {
	white-space: pre-line;

	
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	max-width: 610px;
	color: rgba(255, 255, 255, 0.5);
}

.footer__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 33px;
	padding-top: 40px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__copyright {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.2;
	color: rgba(255, 255, 255, 0.5);
}

.footer__legal-links {
	display: flex;
	align-items: center;
	gap: 30px;
}

.footer__legal-links a {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: underline;
	transition: color 0.2s;
}

.footer__legal-links a:hover {
	color: #fff;
}
